.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: 60px;
    align-items: center;
    position: relative;
    padding: 0 0 0 30px;
}
.container-nav .logo{
    color: white;
    font-size: 35px;
    /* position: absolute;
    left: 30px; */
    letter-spacing: -0.05em;
    font-weight: 600;
}
.container-nav .logo span{
    color: #77cc6d;
}
.container-nav .btns{
    display: flex;
    justify-content: space-between;
}
.container-nav .btns a{
    text-decoration: none;
    border-left: 1px solid #444;
    height: 60px;
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #9B9B9B;
    font-size: 24px;
}